.topnav{
    background-color: #012e46;
}
.botnav{
    background-color: #303443;
}

.btn.btn-1{
    border-color: #006394;
    background-color:  #006394;
    color: #f0f8ff;
    font-size: small  ;
}
.colorTitulo{
    font-size: x-large;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #f0f8ff;
}
.bottomtext{
    font-style: oblique;
    color: #f0f8ff;
}
.togglercolorRE{
    color: #006394;
    border-color: #006394;
    background-color: #006394;
}
.bannerIMG{
    width: 35%;
    height: auto;
}

.logoNavBar{
    width: 9%;
}
.imgopcion{
    width: 15%;
    height: auto;
}
.background-pagina{
    background-color: #94b8d7;
}
a {
    outline: none;
    text-decoration: none;
  }
  
  a:link {
    color: #94b8d7;
  }
  
  a:visited {
    color: #94b8d7;
  }
  
  a:active {
    color: #94b8d7;
  }